<h4>{{ _('Octoprint Hyperion Configuration') }}</h4>

<br />
<p>Hyperion must be installed and be working before using this plugin <a href="https://hyperion-project.org/">Hyperion</a>.</p>

You need to add the require MXXX command in your gcode or type it directely in the octoprint terminal.

Example : 

White lightning:
    M150 -c FFFFFF
Lights off:
    M150 -x
Start effect (keep the quote in the command):
    M150 -e "Snake" 
    
Usage: hyperion-remote [OPTIONS]

Parameters:
  -c, --color <arg>
  -e, --effect <arg>
  -x, --clear
      --clearall
    
Effect list :
    
Cinema brighten lights
Cinema dim lights
Knight rider
Blue mood blobs
Cold mood blobs
Full color mood blobs
Green mood blobs
Red mood blobs
Warm mood blobs
Police Lights Single
Police Lights Solid
Rainbow mood
Rainbow swirl fast
Rainbow swirl
Random
Running dots
System Shutdown
Snake
Sparks Color
Sparks
Strobe blue
Strobe Raspbmc
Strobe white
Color traces
X-Mas

<br />

<form class="form-horizontal">
<div class="control-group">
    <label class="control-label" for="message">MXXX message to watch for</label>
    <div class="controls">
        <div class="input-append">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoprintHyperion.message">
        </div>
    </div>
</div>

</form>
